[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DanielBiostatistics10th"]
	path = DanielBiostatistics10th
	url = https://github.com/cran/DanielBiostatistics10th
[submodule "DemographicTable"]
	path = DemographicTable
	url = https://github.com/cran/DemographicTable
[submodule "Qindex"]
	path = Qindex
	url = https://github.com/cran/Qindex
[submodule "ThomasJeffersonUniv"]
	path = ThomasJeffersonUniv
	url = https://github.com/cran/ThomasJeffersonUniv
[submodule "TukeyGH77"]
	path = TukeyGH77
	url = https://github.com/cran/TukeyGH77
[submodule "VisualizeSimon2Stage"]
	path = VisualizeSimon2Stage
	url = https://github.com/cran/VisualizeSimon2Stage
[submodule "fmx"]
	path = fmx
	url = https://github.com/cran/fmx
[submodule "param2moment"]
	path = param2moment
	url = https://github.com/cran/param2moment
