[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DanielBiostatistics10th"]
	path = DanielBiostatistics10th
	url = https://github.com/cran/DanielBiostatistics10th
[submodule "DemographicTable"]
	path = DemographicTable
	url = https://github.com/cran/DemographicTable
[submodule "Qindex"]
	path = Qindex
	url = https://github.com/cran/Qindex
[submodule "ThomasJeffersonUniv"]
	path = ThomasJeffersonUniv
	url = https://github.com/cran/ThomasJeffersonUniv
[submodule "VisualizeSimon2Stage"]
	path = VisualizeSimon2Stage
	url = https://github.com/cran/VisualizeSimon2Stage
